/* * is a universal selector its change the hole document  */
/* *{
    color: blue;
    background-color: aqua;
} */
/* img selector */

/* we use multiselector */
h2,h3{
   color: darkblue;
    background-color: yellow;
    text-decoration: solid;
    
   
}
/* # is used for id */
#raj{
    background-color: cadetblue;
    color: chartreuse;
  text-transform: uppercase;
}
/* . is use for class */
.kumar{
    color: red;
    background-color:pink;
    text-decoration: underline;
    

}
p{
    color: blueviolet;
}