button:hover{
    color: white;
    background-color: tomato;
    font-weight: bold;
}
/* The use of active is when we click the button the color change and its become active */
button:active{
    color: springgreen;
    background-color: blanchedalmond;
}
/* Its is use for when we color even line and odd  line */
p:nth-of-type(2n){
    color: blue;
    background-color: yellow;
}
:placeholder-shown{
    color:blue;
}
