@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

/* we use variable color if we need it we use it in any element */
:root {
    --main-bg-color: blue;
  }

*{
    padding: 0px;
    margin: 0px;
}
footer{
    background-color:rgb(148, 17, 120);
    height: 12vh;

}
header{
    background-color: var(--main-bg-color);
height: 44px;;
}
nav ul li a{
    text-decoration: none;
    color: white;
}
nav ul li a:hover{

 font-weight: bolder;
    
}
nav ul li{
    list-style: none;
    padding: 0px 23px;

}
nav ul{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height:44px;
}
.logo img{

width: 100px;
padding:0px 139px;

}
nav {
    display: flex;
    
}
.logo{
    display: flex;
    align-items: center;

}

/* we use cal for give full page adjesment */
.container{
    min-height: calc(100vh - 44px - 12vh);
}
.search input{
    width: 400px;
/* margin: 12px; */
height: 30px;

}
.search{
    display: flex;
    justify-content: center;
    align-items: center;
}
input{
    padding: 0px 12px;
}
.slider{
 /* width: 80vw; */
 margin: 44px auto;
display: flex;
justify-content: center;
align-items: center;

}
.offer{
    display: flex;
    justify-content: center;
    align-items: center;
    
}



/* .offers{
    display: flex;
    justify-content: center;
    align-items: center;
    
} */

.image{
    display: flex;
    justify-content: center;
    align-items: center;

}
.image li{
    list-style: none;

    width: 173px;
}

.offers{
    height: 68px;
    margin-top: 20px;
}
 header div{
    display: inline;
}
.first{
   display: flex; 
   
}
.first{
    display: flex;
    justify-content: center;
    align-items: center;
}
.second{
list-style: none;
margin: 20px;
margin: -9px 18px;
padding: 0px 51px
}
.second:hover{
   color: blue;
}
.picture-slide img{
 
 display: flex;
 justify-content: center;
 align-items: center;
height: 200px;
margin-top: 30px;
margin-left: 3px;

width: 1145px;
height: 200px;
}
.picture-slide{
 display: flex;
 justify-content: center;
 align-items: center;
}